.App {
  text-align: center;
  display: flex;
  max-width: 100%;
}

.sideA .sideB {
  flex: 0 1 20%;
}

.clock {
  flex: 0 1 60%;
  width: 100%;
}

.playerList {
  background-color: lightgray;
  width: 300px;
  padding: 0 10px;
}

.playerList ul {
  list-style: none;
  padding: 0;
}

.playerList .logo {
  height: 150px;
}

.playerList img {
  width: 150px;
  /* height: 500px; */
}

.playerCard {
  display: flex;
  /* width: 30%; */
  align-content: center;
  background-color: lightblue;
  margin: 5px;
}

.playerCard .photo {
  width: 30%;
  margin: 5px;
}

.playerCard .photo img {
  width: 100%;
  vertical-align: middle;
  padding-top: 10px;
}

.playerCard .details {
  width: 70%;
}
