body {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 150px 80px 1fr 1fr;
  grid-template-areas:
    "sideA scoreA divider scoreB sideB"
    "sideA scoreButtons scoreButtons scoreButtons sideB"
    "sideA clock clock clock sideB"
    "sideA gameButtons gameButtons gameButtons sideB"
  /* max-width: 100%; */
}

.sideA {
  grid-area: sideA;
}

.sideB {
  grid-area: sideB;
}

.scoreA {
  grid-area: scoreA;
}

.divider {
  grid-area: divider;
}

.scoreB {
  grid-area: scoreB;
}

.score {
  align-self: center;
  justify-self: center;
  font-size: 100px;
}

.clock {
  grid-area: clock;
  font-size: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.gameButtons {
  grid-area: gameButtons;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clock span {
  margin-top: 50px;
}

.scoreButtons {
  grid-area: scoreButtons;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreButtons button {
  margin: 0 10px;
}

.playerList {
  background-color: lightgray;
  padding: 0 10px;
  height: 100vh;
}

.logo {
  display: inline-block;
}

.playerList .header {
  display: flex;
  align-items: center;
  min-height: 150px;
}

.playerList h1 {
  margin: 0;
  display: inline-block;
}

.playerList ul {
  list-style: none;
  padding: 0;
}

.playerList img {
  width: 75px;
  margin-right: 10px;
}

.playerCard {
  display: flex;
  align-content: center;
  background-color: lightblue;
  margin: 5px;
  align-items: center;
}

.playerCard .details span {
  margin: 0 10px;
}

.playerCard .name {
  font-size: 1.2rem;
  font-weight: bold;
}

.playerCard .position {
  background-color: greenyellow;
}

.playerCard .number {
  font-weight: bold;
}